/* BONUS CONTENT */
.page-title-custom {
    font-size: 4em !important;
    font-weight: bold !important;
    font-family: monospace !important;
}
p, #content li {
    font-size: 14pt;
}
#content ul > li > ul {list-style: none;}
#content ul>li>ul>li {
    padding-left: 0.0em;
    position: relative;
}
#content ul>li>ul>li:after {
    content: '';
    height: .35em;
    width: .35em;
    background: #58585b;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 0.5em;
    left: -1.0em;
}
#content ul, #content ol {
    margin-left: 1em;
}
